html {
  background-color: rgb(229, 229, 229);
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

button#dropdown-profile.dropdown-toggle.btn.btn-primary::after {
  display: none !important;
}

.dropdown-profile-item:hover {
  background-color: gainsboro;
}

.approvement-modals {
  width: 75vw !important;
  max-width: none !important;
}

.approvement-modals {
  max-width: none !important;
  background-color: transparent !important;
}
